
        <div class="card border-info mb-3" >
            <div class="card-header">
            
             <%= image_tag (@tweet.user.photo_url), class:"photo_user rounded "%> 
               <%= @tweet.user.username %>    <br/>
               <span class="">
               <%= link_to'<i class="far fa-clock"></i> '.html_safe+distance_of_time_in_words(Time.now, @tweet.created_at), @tweet%>       
                </span> <br/>
            </div>
            
            <div class="card-body text-info">
                <%= @tweet.content %>
               

                <hr/>
                 <% if @tweet.is_retweet%>
                <%= link_to "Retweet...", @tweet.tweet_ref%>
                <%end%>
                <div class="float-right">
                
                <span>
                <%# like %>
                <%= @tweet.likes.count%> 
                <%= link_to ('<i class="'+@tweet.like_icon(current_user)+'"></i>').html_safe, tweet_likes_path(@tweet), method: :post%>
                </span>
                |
                <span>
                <%# reetweet %>
                <%= @tweet.count_rt%>
                <% if @tweet.count_rt > 0 %>
                <%= link_to '<i class="fas fa-retweet"></i>'.html_safe, tweet_retweet_path(@tweet), method: :post%>
                
                <% else %>
                  <%= link_to ' <i class="fas fa-retweet text-muted"></i>'.html_safe, tweet_retweet_path(@tweet), method: :post%>
                <%end%>
                 </span>


                </div>
            </div>
          
        </div>

    <div>
    <%@tweet.liking_users.each do |user|%>
     <%= image_tag (user.photo_url), class:"photo_user rounded "%> 
     <%end%>


    </div>




<%= link_to 'Edit', edit_tweet_path(@tweet) %> |
<%= link_to 'Back', root_path %>
